<h3>Here's a post. This line is inside component post-tile.hbs</h3>

<li>{{post.title}} by {{post.author}}
</li>
<img src={{post.image}}>
<br>
<button {{action 'delete' post}}>Delete this post</button>
