<h1>Question and Answer</h1>

<h3>Write a question or answer one of the questions posted by an other user.</h3>

<ul>
  {{#each model.posts as |post|}}
    {{post-tile post=post}}
  {{/each}}
</ul>

<h3>Click the button to sumbit a question</h3>

{{new-post save2="save3"}}
