<h1>Let's get going, This line rendered by index.hbs</h1>

<ul>
  {{#each model as |post|}}
    {{post-tile post=post update="update" destroyPost="destroyPost"}}
  {{/each}}
</ul>

{{new-post save2="save3"}}
